<header class="main-header">
    <h1>
        <a href="/">
            <img src="{{path}}/jeon_logo.png" alt="JEONGHO Logo"><br>
            JEONGHO
        </a>
    </h1>
    <nav class="nav">
        <ul>
            <li>
                <a href="#" data-target="portfolio" class="on">
                    portfolio
                </a>
            </li>
            <li>
                <a href="#" data-target="about">
                    about
                </a>
            </li>
            <li>
                <a href="#" data-target="contact">
                    contact us
                </a>
            </li>
        </ul>
    </nav>
</header>
